<div class="col-md-12">
  <div class="group">
    <%= link_to("New movie", new_movie_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>图片</td>
        <td>影片</td>
        <td>简介</td>
        <td>创建者</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "movie_item", :collection => @movies, :as => :movie %>
    </tbody>
  </table>
</div>
