<div class="jumbotron">
     <h1 class="title" style="color:white">Rotton Potatoes</h1>

     <p class="slogan">写出你的心声</p>
     <p class="lead"><a class="btn btn-lg btn-primary" href="/movies">Write Reviews</a></p>
   </div>

   <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ttbagroup.com/wp-content/uploads/2015/06/location-icon-e1435964365764.png" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3 align="center">WuHan, China</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://www.clker.com/cliparts/W/j/m/3/u/z/email-icon-th.png" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3 align="center">xxx@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://www.clker.com/cliparts/O/u/D/3/G/W/phone-icon-th.png" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3 align="center">027-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
